<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <a href="/homepage">Classroom Galeria</a>
    <h1>Module form</h1>
    <form action="/insertModule">
        <label>
            Please select a week
            <select name="weekNo">
                <option value="1">Week 1</option>
                <option value="2">Week 2</option>
                <option value="3">Week 3</option>
                <option value="4">Week 4</option>
                <option value="5">Week 5</option>
                <option value="6">Week 6</option>
                <option value="7">Week 7</option>
            </select>
        </label>
        <br>
        <label>
            Please select the Day of Module
            <select name="dayOfModule">
                <option value="monday">Monday</option>
                <option value="tuesday">Tuesday</option>
                <option value="wednesday">Wednesday</option>
                <option value="thursday">Thursday</option>
                <option value="friday">Friday</option>
                <option value="saturday">Saturday</option>
                <option value="sunday">Sunday</option>
            </select>
        </label>
        <br>
        <label>
            Please insert the module title:
            <input type="text" name="titleOfModule">
        </label>
        <br>
        <br>
        <input type="submit">
    </form>

    <h1>Mark Attendance</h1>
    <form action="/markAttendance" method="post">

        <label>
            Students:
            <input type="checkbox" name="checkedName">
            Michael
        <input type="checkbox" name="checkedName">
        Chisom
        <input type="checkbox" name="checkedName">
        Wilson
        </label>
        <br>
        <label>
            Status:
            <input type="radio" name="status">
            Present
            <input type="radio" name="status">
            Absent
        </label>
        <br>
        <label>
            Please select the Day of Attendance:
            <select name="dayOfAttendance">
                <option value="monday">Monday</option>
                <option value="tuesday">Tuesday</option>
                <option value="wednesday">Wednesday</option>
                <option value="thursday">Thursday</option>
                <option value="friday">Friday</option>
                <option value="saturday">Saturday</option>
                <option value="sunday">Sunday</option>
            </select>
        </label>
        <br>
        <input type="submit">
    </form>

    <h1>Insert New Student</h1>
    <form action="/insertNewStudent" method="post">
        <label>
            Student Name:
            <input type="text" name="studentName">
        </label>
        <br>
        <label>
            Student Email:
            <input type="email" name="studentEmail">
        </label>
        <br>
        <label>
            Parent Name:
            <input type="text" name="parentEmail">
        </label>
        <br>
        <label>
            Parent Phone Number:
            <input type="number" name="parentPhoneNo">
        </label>
        <br>
        <label>
            Student Phone Number:
            <input type="number" name="studentPhoneNo">
        </label>
        <br>
        <label>
            Gender:
            <input type="radio" name="gender" value="male">
            Male
            <input type="radio" name="gender" value="female">
            Female
        </label>
        <br>
        <label>
            Date of Birth:
            <input type="date" name="dob">
        </label>
        <br>
        <input type="submit">
    </form>

    <h1>Modules Register</h1>
    <h1>Students Register</h1>
</body>
</html>