<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classes Galeria</title>
</head>
<body>
    <h1>Classroom Galery</h1>
    <div class="showOrHide">
        <p>Welcome Mr Uzomzii</p>
        <a href="/homepage">Classroom Galeria</a>
        <br>
        <a href="/dashboard">dashboard</a>
        <br>
        <a href="/">Logout</a>
        <br>
    </div>
    <br>
    <div class="container">
        <% array.forEach(element => { %>
         <div class="cards">
            <a href="/dashboard">
                <%= element %> 
            </a>
         </div>
        <% }) %>
    </div>
</body>
</html>